* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

a:hover {
  color: lightgreen;
}

@font-face {
  font-family: 'quicksand', monospace;
  src: url(fonts/Quicksand-Medium.ttf) format('truetype');
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  width: 100%;
  height: 100vh;

  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: url('https://bostonglobe-prod.cdn.arcpublishing.com/resizer/-B3Oj3E4TYJQblqOrwquFRLdmts=/1440x0/arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/RF76HGAOJQI6PBENY6KM7DB6RQ.jpg') no-repeat center center/cover;;
}

section#detail {
  background: url('https://i.imgur.com/agneZcO.png') no-repeat center center/cover;;
}

section#detail2 {
  background: url('https://i.imgur.com/lAWIuBM.png') no-repeat center center/cover;;
}

section#about {
  background: url('https://i.imgur.com/owatzR7.jpg') no-repeat center center/cover;;
}

section#service {
  background: url('https://wallpaperaccess.com/full/692721.png') no-repeat center center/cover;;
}

section#contact {
  background: url('https://images.unsplash.com/photo-1579280921028-21d4e5005a77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat center center/cover;;
}
